@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple demo application</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" asp-action="Login">Login</a>
        </p>
    </div>